h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'William', serif;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 34px;
  font-weight: normal;
  color: white;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  margin-top: 0;
  margin-bottom: 24px;
  color: white;
}

h3 {
  font-family: 'William', serif;
  margin: 0;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: normal;
  color: white;
}

img {
  width: 230px;
  margin-bottom: 50px;
}

p {
  font-family: 'Inter', sans-serif;
  text-align: center;
}

div {

  background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
  width: 500px;
  height: 400px;
  text-align: center;
  margin: auto;

}
